<h1 class="m-auto w-auto text-center text-xl">Update Movie</h1>

<form *ngIf="group" (submit)="updateMovie($event)" class="text-center card glass w-52 m-auto" [formGroup]="group">
    
    <div class="m-3">
        <label for="title">Title</label>
        <br>
        <input type="text" formControlName="title">
        @if (!group.get('title')?.valid && !group.get('title')?.untouched) {
            <p>Ce champ est obligatoire</p>
        }
    </div>

    <div class="m-3">
        <label for="description">Description</label>
        <br>
        <input type="text" formControlName="description">
        @if (!group.get('description')?.valid && !group.get('description')?.untouched) {
            <p>Ce champ est obligatoire</p>
        }
    </div>

    <div class="m-3">

        <label for="realisator">Realisator</label>
        <select name="realisator" id="realisatorId" formControlName="realisatorId" >
            <option *ngFor="let actor of actorList" [ngValue]="actor">
                {{actor.firstname}} {{actor.lastname}}
            </option>
        </select>

        @if (!group.get('realisatorId')?.valid && !group.get('realisatorId')?.untouched) {
            <p>Ce champ est obligatoire</p>
        }
    </div>


    <div class="m-3">
       <fieldset>
            <div formArrayName="casting">
                <div *ngFor="let control of getCasting().controls; let i = index" [formGroupName]="i">
                  <label for="actor">Actor</label>
                  <br>
                  <select formControlName="actor">
                    <option *ngFor="let actor of actorList" [ngValue]="actor">
                      {{actor.firstname}} {{actor.lastname}}
                    </option>
                  </select>
            
                  <label for="role">Role</label>
                  <input type="text" formControlName="role">
            

                  <div *ngIf="control.errors && control.touched">
                    <span *ngIf="control.errors['required']">*This field is required</span>
                  </div>
            
                  <button *ngIf="i !== 0" type="button" (click)="removeCasting(i)" class="btn btn-primary m-3">Remove this Actor</button>
                </div>
              </div>
        </fieldset>
            <button (click)="addCasting()" class="btn btn-primary m-3" >Add more Actor</button>
    </div>
        <button type="submit" class="btn btn-primary m-3">Update</button>
</form>