<div class="navbar bg-base-100">

    <div class="flex-1">
      <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="btn m-3 ">Menu</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-auto p-2 shadow">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="movies">Movies</a></li>
          <li><a routerLink="people">People</a></li>
        </ul>
      </div>      
    </div>
    
    
    @if (this.isLogged() == "false") {
      <div>
        
          <button class="btn btn-primary m-3" routerLink="/register">Register</button>
          <button class="btn btn-primary m-3" onclick="my_modal_1.showModal()">Login</button>
          <dialog id="my_modal_1" class="modal">
            
            <div class="modal-box">
              <form method="dialog" onclick="my_modal_1.showModal()">
              <div class="modal-action p-4">
                <app-login></app-login>
                  <button class="btn btn-dark m-auto">Close</button>
                  
                </div>
              </form>
            </div>
          </dialog>
        
      </div>
    }

    @if(this.isLogged() == "true"){
      <div class="mr-8">
          <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
      <img src="https://img.icons8.com/?size=100&id=115640&format=png&color=000000" alt="logo you are logged">
    }

    @if(this.isLogged() == "false"){
      <div class="mr-8">
        <img src="https://img.icons8.com/?size=100&id=91102&format=png&color=000000" alt="logo not logged">
      </div>
    }
    
  </div>