<div class="navbar bg-base-100">

    <div class="flex-1">
      <a class="btn btn-dark text-xl">MovieDB</a>
    </div>

    @if(isLogged() == true){
      <div>
        <h4>Bienvenue : {{email}}</h4>
      </div>
    }
    
    
    
    <div class="dropdown dropdown-hover">
      <div tabindex="0" role="button" class="btn m-3 ">Menu</div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-auto p-2 shadow">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="movies">Movies</a></li>
        <li><a routerLink="people">People</a></li>
      </ul>
    </div>
    
    @if (isLogged() == false) {
      <div>
        
        
        
          <button class="btn btn-primary m-3" routerLink="/register">Register</button>
          <button class="btn btn-primary m-3" onclick="my_modal_1.showModal()">Login</button>
          <dialog id="my_modal_1" class="modal">
            
            <div class="modal-box">
              <form method="dialog" onclick="my_modal_1.showModal()">
              <div class="modal-action p-4">
                <app-login></app-login>
                  <button class="btn btn-dark m-auto">Close</button>
                  
                </div>
              </form>
            </div>
          </dialog>
        
      </div>
    }

    @if(isLogged() == true){
      <div>
          <button class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    }
  </div>